* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e5e5e5;
}

h1 {
  font-weight: lighter;
  letter-spacing: 5px;
  font-size: 3.5rem;
  padding-bottom: 25px;
}

.wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  position: relative;
}

button {
  padding: 5px 15px;
  border: 1px solid #333;
  background-color: #ffffff;
  border-radius: 15px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: translateX(-10px);
  transition: all 0.2s ease-in-out;
  background-color: #333;
  color: #eee;
}

button.active {
  background-color: #333;
  color: white;
  transition: all 250ms ease-in-out;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  position: absolute;
  left: -150px;
}

#container {
  border: 1px solid black;
  display: grid;
  min-height: 700px;
  width: 700px;
  background-color: white;
}

.cell-border {
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
}

#color-picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 37px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#color-picker::-webkit-color-swatch {
  border-radius: 15px;
  border: 1px solid #333;
}
#color-picker::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}
